/********** Main layout **************/

#feature {
  width: 70%;
  float: left;
}

#feature img {
  float: left;
  margin-right: 1em;
}

#issue {
  width: 28%;
  float: left;
  margin-left: 2%;
}

#issue ul {
  list-style: none;
  padding: 0;
}

#issue li {
  margin-top: 1em;
  padding-bottom: 1em;
  border-bottom: double;
}

main {
  overflow: auto;
}

/********** Header/footer layout **************/

header,footer {
  text-align: center;
  padding-bottom: 1em;
  padding-top: 1em;
}

footer ul {
  list-style: none;
  margin: 0;
}

footer li {
  width: 25%;
  float: left;
}

footer {
  overflow: auto;
}

/********** General **************/

body {
  background: #faf3dd;
  font-family: "Georgia", serif;
}

header,footer {
  background: #c8d5b9;
}

a {
  color: #736ced;
  text-decoration: none;
}
